<h3>Détail d'un catalogue</h3>
<p>{{#link-to 'catalogues'}}Retour{{/link-to}}</p>
<form role="form">
    <div class="form-group">
        <label for="nom">Nom</label>
        {{input class="form-control" disabled="disabled" type="text" name="nom" value=model.nom}}
    </div>
    <div class="form-group">
        <label for="type">Type</label>
        {{input class="form-control" disabled="disabled" type="text" name="type" value=model.type}}
    </div>
    <div class="form-group">
        <label for="diff">Diffuseur</label>
        {{input class="form-control" disabled="disabled" type="text" name="diff" value=model.diff}}
    </div>
    <div class="form-group">
        <label for="support_diff">Support diffuseur</label>
        {{input class="form-control" disabled="disabled" type="text" name="support_diff" value=model.support_diff}}
    </div>
    <div class="form-group">
        <label for="service_encodage">Service encodage</label>
        {{input class="form-control" disabled="disabled" type="text" name="service_encodage" value=model.service_encodage}}
    </div>
    <div class="form-group">
        <label for="format_diffuseur">Format diffuseur</label>
        {{input class="form-control" disabled="disabled" type="text" name="format_diffuseur" value=model.format_diffuseur}}
    </div>
    <div class="form-group">
        <label for="catalogue">Catalogue</label>
        {{input class="form-control" disabled="disabled" type="text" name="catalogue" value=model.catalogue}}
    </div>
    <div class="form-group">
        <label for="drm_active">DRM active</label>
        {{input class="form-control" disabled="disabled" type="text" name="drm_active" value=model.drm_active}}
    </div>
</form>
{{#link-to 'catalogue.edit' this}}Modifier{{/link-to}}